---

---

<section
  class="w-screen sticky top-0 z-50 bg-[#253237] md:h-24 py-4 flex flex-col gap-5 md:flex-row justify-around items-center"
>
  <a href="/hector-granell" class="uppercase tracking-wider text-2xl text-[#E0FBFC]"
    >About me
  </a>
  <a href="/hector-granell/projects" class="uppercase tracking-wider text-2xl text-[#E0FBFC]"
    >Projects
  </a>
  <a href="/hector-granell/contact" class="uppercase tracking-wider text-2xl text-[#E0FBFC]"
    >Contact
  </a>
</section>
